<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <!--공통 스크립트-->
    <th:block th:replace="~{fragments/script :: scriptFragment}"></th:block>
    <!--공통 헤드-->

</head>
    <header th:replace="~{fragments/header :: headerFragment}"></header>
    <!-- 컨텐츠 -->
    <body layout:fragment="content">

    </body>
<!--공통 하단-->
    <footer th:replace="~{fragments/footer :: footerFragment}"></footer>

</html>