<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout">

<th:block layout:fragment="head" th:include="@{fragments/head}"></th:block>

<body>
    <th:block layout:fragment="header" th:include="@{fragments/header}"></th:block>
    <th:block layout:fragment="script">
        <script th:inline="javascript">

            let basicUrl = "api/todos/";

            // Todo 추가
            window.onload = function (){
                document.getElementById('title').addEventListener('keyup', e => {
                    if( e.key === 'Enter' ){
                        let data = {
                            title: document.getElementById('title').value
                        }

                        let xhr = new XMLHttpRequest();
                        xhr.open('POST', basicUrl, true);
                        xhr.setRequestHeader('Content-type', 'application/json');
                        xhr.send(JSON.stringify(data));

                        xhr.onload = () => {
                            if( xhr.status == 200 ){
                                console.log("create title success");
                                location.reload();
                            }
                            console.log("error: " + xhr.status);
                        }
                    }
                })
            }

            // Todo 삭제
            function deleteButton(todoId){
                let x = confirm("Are you sure you want to delete it?");

                if(x) {
                    console.log(todoId + "번 게시물 삭제");
                    let data = {
                        id: todoId
                    }

                    let xhr = new XMLHttpRequest();
                    xhr.open('DELETE', basicUrl, true);
                    xhr.setRequestHeader('Content-type', 'application/json');
                    xhr.send(JSON.stringify(data));

                    xhr.onload = () => {
                        if(xhr.status == 200){
                            console.log("delete success");
                            location.reload();
                        }
                        console.log("Error code : " + xhr.status);
                    }
                }
            }

            // Todo 수정
            function updateTodo(e, todoId) {
                if(e.key === 'Enter'){
                    let title = document.getElementById('changeTodo').value;
                    if(!title || title.trim() === ""){
                        alert("글을 입력해주세요.");
                        return false;
                    }

                    let data = {
                        'title': title,
                        'id': todoId
                    }

                    let xhr = new XMLHttpRequest();
                    xhr.open('PUT', basicUrl, true);
                    xhr.setRequestHeader("Content-type", 'application/json');
                    xhr.send(JSON.stringify(data));

                    xhr.onload = () => {
                        if(xhr.status == 200){
                            console.log("update success");
                            location.reload();
                            return;
                        }
                        console.log("update failure");
                    }
                }
            }

            // Todo 수정
            function changeTitle(todoId){
                console.log("change "+ todoId);

                // 기존 Span을 지운다.
                let span_id = 'span_' + todoId;
                let deleteTag = document.getElementById(span_id);
                deleteTag.remove();
                console.log("delete span");

                // todo_{todo Id}인 div 를 찾는다.
                let todo_id = 'todo_' + todoId;
                let addTag = document.getElementById(todo_id);

                // input을 따로 추가해준다.
                addTag.innerHTML = '<input type=text class="todo-input" width="200px" autofocus id="changeTodo">'
                let changeInput =  document.getElementById('changeTodo');
                changeInput.addEventListener('keyup', event => updateTodo(event, todoId));
            }

            // Todo 완료
            function changeDone(todoId){
                console.log(todoId + " is done");
                let changeUrl = basicUrl + todoId;

                let xhr = new XMLHttpRequest();
                xhr.open( 'PUT', changeUrl, true );

                // data 를 json 으로 보낼 때, 반드시 아래와 같은 헤더 처리를 해야함
                xhr.setRequestHeader("Content-type", 'application/json');

                // send() 를 보내야 전송이 됨
                xhr.send();
                xhr.onload = () => {
                    if(xhr.status == 200){
                        console.log("change done");
                        location.reload();
                        return;
                    }
                    console.log("error");
                }
            }

            // Completed Clear
            function clearTodo(){
                let xhr = new XMLHttpRequest();
                xhr.open('DELETE', basicUrl + "completed", true);
                xhr.send();
                xhr.onload = () => {
                    if( xhr.status == 200){
                        console.log("completed clear");
                        location.reload();
                        return;
                    }
                    console.log("completed error");
                }
            }

            let allCheck = function (TodoList){
                alert("hello");
            }
        </script>
    </th:block>

    <th:block layout:fragment="content" class="content">
        <div class="todo-wrapper">
            <div class="todo-title">todos</div>
            <button class="calender_link" style=" color: brown; height: 2rem; cursor: pointer;"
                    id="calenderLink" th:onclick="'location.href=' + '\'' + @{/calender} + '\''">Calendar</button>
            <br>
            <div class="todo-box">
                <div class="todo-input-box" th:object="${TodoDto}">
                    <button class="complete-all-btn" style="width: 5.5rem;" id="todoRegister">✔</button>
                    <input type="text"  class="todo-input"  th:field="*{title}"
                       id="title" placeholder="해야 할 일을 입력해주세요.">
                </div>
<!--                th:onkeypress="if( event.keyCode==13 ){createTodo();}"-->
                <!-- List 가 없을 때 -->
                <div th:if="${#lists.isEmpty(TodoList)}">
                </div>

                <!-- List 가 있을 때 -->
                <div th:if="${!#lists.isEmpty(TodoList)}">
                    <ul class="todo-list">

                        <!--반복문-->
                        <li th:each="todo : ${TodoList}" class="todo-item checked">

                            <!-- Completed -->
                            <div th:if="${todo.success}">
                                <button type="button" class="custom_button" th:id="'button_'+${todo.id}" th:field="${todo.success}"
                                        th:onclick="'javascript:changeDone(' + ${todo.id} + ')' " >✔</button>
                            </div>

                            <div th:if="${todo.success}" th:id="'todo_' + ${todo.id}">
                             <span class="uncheck_todo" th:id="'span_' + ${todo.id}"
                                   th:ondblclick="'javascript:changeTitle(' + ${todo.id} +')'" th:text="${todo.title}">할 일</span>
                            </div>

                          <!-- Active -->
                            <div th:unless="${todo.success}">
                                <button type="button" class="custom_button" th:id="'button_'+${todo.id}" th:field="${todo.success}"
                                        th:onclick="'javascript:changeDone(' + ${todo.id} + ')' " >○</button>
                            </div>
                            <div th:unless="${todo.success}" th:id="'todo_' + ${todo.id}">
                                <span class="todo" th:id="'span_' + ${todo.id}"
                                      th:ondblclick="'javascript:changeTitle(' + ${todo.id} +')'" th:text="${todo.title}">할 일</span>
                            </div>

                            <!-- Delete -->
                            <button class="delBtn" th:onclick="'javascript:deleteButton(' + ${todo.id} + ')'" >x</button>
                        </li>
                    </ul>
                </div>

                <div class="todo-bottom">
                    <div class="left-items"><span th:text="${count} + ' items left'">3 items left</span></div>
                    <div class="button-group">
                        <button class="show-all-btn selected" id="allSearch" data-type="all"
                                th:onclick="'location.href=' + '\'' + @{/todos} + '\''">All</button>
                        <button class="show-active-btn" data-type="active" id="ActiveSearch"
                            th:onclick="'location.href=' + '\'' + @{/todos/active} + '\''" >Active</button>
                        <button class="show-completed-btn" data-type="completed" id="CompletedSearch"
                        th:onclick="'location.href=' + '\'' + @{/todos/completed} + '\''">Completed</button>
                    </div>
                    <button class="clear-completed-btn" id="allClear" th:onclick="'javascript:clearTodo()'">Clear Completed</button>
                </div>
            </div>

            <p class='info'>더블클릭 시 수정 가능!</p>

        </div>
    </th:block>

    <th:block layout:fragment="footer" th:include="@{fragments/footer}"></th:block>
</body>
</html>