<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout">

<th:block layout:fragment="head" th:include="@{/fragments/head}"></th:block>

<body>
    <th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>
    <th:block layout:fragment="script">
        <script th:inline="javascript">

            // Todo 추가
            function addTodo() {
                let title = document.getElementById('title').value;
                let TodoDto ={
                    title: title
                }

                const todoUrl = "/api/todos"
                console.log("title: " + title)

                $.ajax({
                    type: "post",
                    url: todoUrl,
                    data: TodoDto,
                    success: function () {
                        console.log("add success");
                        location.href = "/todos"
                    },
                    error: function () {
                        alert("add error");
                    }
                })
            }

            // 삭제
            function deleteButton(todoId){
                let x = confirm("정말 삭제하려구요?");
                const todoUrl = "/api/todos/";

                let data ={
                    todoId: todoId
                }

                $.ajax({
                    type: "delete",
                    url: todoUrl,
                    data: data,
                    success: function(){
                        console.log("delete success");
                        location.href = "/todos"
                    },
                    error: function(){
                        alert("delete error");
                    }
                })
            }

            // 수정
            function updateButton(todoId){

                alert(todoId);

            }

        </script>
    </th:block>

    <th:block layout:fragment="content" class="content">
        <div class="todo-wrapper">
            <div class="todo-title">todos</div>
            <div class="todo-box">

                <div class="todo-input-box" th:object="${TodoDto}">
                    <button class="complete-all-btn" id="todoRegister">✔</button>
                    <input type="text"  class="todo-input"  th:field="*{title}"
                       id="title"  th:onkeypress="if( event.keyCode==13 ){addTodo();}" placeholder="해야 할 일을 입력해주세요.">
                </div>

                <div th:if="${#lists.isEmpty(TodoList)}">
                </div>

                <div th:if="${!#lists.isEmpty(TodoList)}">
                    <ul class="todo-list">
                        <li th:each="todo,i : ${TodoList}" class="todo-item checked">
                            <div class="checkbox">
                                <input type="checkbox" th:value="${todo.done}">
                            </div>
                            <div><span class="todo" id="${'todo_'+ i.count}" th:ondblclick="'javascript:updateButton(' + ${i.count} +')'"
                                       th:text="${todo.title}">할 일</span></div>
                            <button class="delBtn" th:onclick="'javascript:deleteButton(' + ${todoId} + ')'" >x</button>
                        </li>
                    </ul>
                </div>

                <div class="todo-bottom">
                    <div class="left-items"><span th:text="${count} + ' items left'">3 items left</span></div>
                    <div class="button-group">
                        <button class="show-all-btn selected" id="allSearch" data-type="all">All</button>
                        <button class="show-active-btn" data-type="active" id="ActiveSearch">Active</button>
                        <button class="show-completed-btn" data-type="completed" id="CompletedSearch">Completed</button>
                    </div>
                    <button class="clear-completed-btn" id="allClear">Clear Completed</button>
                </div>
            </div>

            <p class='info'>더블클릭 시 수정 가능!</p>

        </div>
    </th:block>

    <th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block>
</body>


</html>