<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://thymeleaf.org">
<head>
  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <link th:href=@{"/style.css"} rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
  <div class="container">
    <h1 class="text-primary">TODO LIST</h1>

    <input type="text" placeholder="일정을 추가해주세요">
    <button type="button" class="btn btn-outline-success">추가</button><br><br>

    <div class="d-flex">
      <input type="checkbox">
      <input type="text" placeholder="일정">
      <button type="button" class="btn btn-outline-success">수정</button>
      <button type="button" class="btn btn-outline-success">삭제</button>
    </div><br>

    <div class="d-flex">
      <input type="checkbox">
      <input type="text" placeholder="일정">
      <button type="button" class="btn btn-outline-success">수정</button>
      <button type="button" class="btn btn-outline-success">삭제</button>
    </div><br>

    <div class="d-flex">
      <input type="checkbox">
      <input type="text" placeholder="일정">
      <button type="button" class="btn btn-outline-success">수정</button>
      <button type="button" class="btn btn-outline-success">삭제</button>
    </div><br>

    <div class="d-flex">
      <input type="checkbox">
      <input type="text" placeholder="일정">
      <button type="button" class="btn btn-outline-success">수정</button>
      <button type="button" class="btn btn-outline-success">삭제</button>
    </div><br>

    <div class="d-flex">
      <input type="checkbox">
      <input type="text" placeholder="일정">
      <button type="button" class="btn btn-outline-success">수정</button>
      <button type="button" class="btn btn-outline-success">삭제</button>
    </div><br>

    <div class="d-flex">
      <input type="checkbox">
      <input type="text" placeholder="일정">
      <button type="button" class="btn btn-outline-success">수정</button>
      <button type="button" class="btn btn-outline-success">삭제</button>
    </div><br>

    <div>
    </div>

  </div>
</body>
</html>